{% extends 'layout.html' %}

{% block title %} All Dishes {% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>All Dishes Data</header>
                                        <!-- <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th width="25%">Dish Name</th>
                                                        <th width="100px">category</th>
                                                        <th width="20%">subcategory</th>
                                                        <th width="100px">active</th>
                                                        <th width="100px">date created</th>
                                                        <th width="70px">price</th>
                                                        <th width="70px">Buttons</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for dish in dishes %}
                                                        <tr class="gradeX">
                                                            <td>{{ dish.def_dish_id }}</td>
                                                            <td>{{ dish.category }}</td>
                                                            <td>{{ dish.subcategory }}</td>
                                                            <td>{{ dish.active }}</td>
                                                            <td>{{ dish.date_created }}</td>
                                                            <td>{{ dish.price }}</td>
                                                            <td>
                                                                <a href="{% url 'editDish' dish.dish_id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>                 
                                                                <a href="{% url 'deleteDish' dish.dish_id %}" class="btn ink-reaction btn-floating-action btn-danger" onclick="return confirm('Are you sure you want to delete this?')"><i class="md md-delete"></i> </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>   
                                </div>       
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>


{% endblock %}