<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" id="sideBarButton" data-toggle="menubar" href="javascript:void(0);" style="display: none;">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="{% url 'tableView' %}">
                    <span class="text-lg text-bold text-primary">MATERIAL&nbsp;ADMIN</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="{% url 'tableView' %}" class="active">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN ORDER -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-shopping-cart"></i></div>
                        <span class="title">Order</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="{% url 'allOrder'%}" ><span class="title">All Orders</span></a></li>
                        <!-- <li><a href="{% url 'tableView' %}" ><span class="title">Add Order</span></a></li> -->
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END ORDER -->

                <!-- BEGIN PRODUCT -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-cubes"></i></div>
                        <span class="title">Dishes</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="{% url 'allDish'%}" ><span class="title">All Dishes</span></a></li>
                        <li><a href="{% url 'newDish' %}" ><span class="title">Add Dishes</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END PRODUCT -->

                <!-- BEGIN TABLE -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-cog fa-fw"></i></div>
                        <span class="title">Tables</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <!-- <li><a href="{% url 'tableView'%}" ><span class="title">Table Home</span></a></li> -->
                        <li><a href="{% url 'tableLayout' %}" ><span class="title">Set Layout</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END PRODUCT -->

                <!-- BEGIN PROFILE -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-user"></i></div>
                        <span class="title">Profile</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="{% url 'change_password' %}" ><span class="title">Change Password</span></a></li>
                        <li><a href="{% url 'logout' %}" ><span class="title">Logout</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END PROFILE -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; {% now "Y" %}</span> <strong>Restaurant Management</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->
























		<div class="container d-flex align-items-stretch">
                <nav id="sidebar" class="img" style="background-image: url('/static/img/bg_1.jpg');">
                    <div class="p-4">
                        <h1><a href="index.html" class="logo">Travel <span>Travel Agency</span></a></h1>
                        <ul class="list-unstyled components mb-5">
                            <li class="active">
                                <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-user mr-3"></span> About</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-plane mr-3"></span> Destination</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>