{% load static %}

<html lang="en">

<head>
	<title>{% block title %} {% endblock %} | Restaurant</title>

	<!-- BEGIN META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="your,keywords">
	<meta name="description" content="Short explanation about this website">
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/fonts.css' %}"/> -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialadmin.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/jquery.dataTables.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.colVis.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.tableTools.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/select/bootstrap-select.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/select/bootstrap-select.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/libs/select2/select2.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />

	<link type="text/css" rel="stylesheet" href="{% static 'css/style_change.css' %}" />
	<!-- <link href="//ne	tdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<!-- END STYLESHEETS -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
</head>

<body class="menubar-pin menubar-hoverable header-fixed ">
	<!--max sidemenu: menubar-pin -->

	<!-- BEGIN HEADER-->
	<header id="header">
		<div class="headerbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand">
						<div class="brand-holder">
							<a href="{% url 'tableView' %}">
								<span class="text-lg text-light text-danger">Restaurant Name </span><span
									class="text-lg text-bold text-primary">Solutions</span>
							</a>
						</div>
					</li>
					<li>
						<a class="btn btn-icon-toggle menubar-toggle" id="SideBarClick" data-toggle="menubar"
							href="javascript:void(0);" style="display: none">
							<i class="fa fa-bars"></i>
						</a>
					</li>
				</ul>
			</div>
			
				<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="headerbar-right">
				<ul class="header-nav header-nav-profile">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
							<span class="profile-info">
								<h4 class="text-lg text-bold text-primary">Profile Setting</h4>
							</span>
						</a>
						<ul class="dropdown-menu animation-dock">
							<li class="dropdown-header">My profile</li>
							<li><a href="{% url 'change_password' %}">Change Password</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off text-danger"></i>
									Logout</a></li>
							<li>
								<a href="{% url 'RestManagementAbout' %}">
									<span class="text-medium text-light text-danger">About </span><span class="text-medium text-light text-primary">Developer</span>
								</a>
							</li>
						</ul>
						<!--end .dropdown-menu -->
					</li>
					<!--end .dropdown -->
				</ul>
				<!--end .header-nav-profile -->
			</div>
			
			<!--end #header-navbar-collapse -->
		</div>
	</header>
	<!-- END HEADER-->

	<!-- BEGIN BASE-->
	<div id="base">

		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
		</div>
		<!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->

		<!-- BEGIN CONTENT-->
		<div id="content">

			<!-- If we delete or add item it will gave an alert -->
			{% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="alert {{ message.tags }} text-center" {% endif %}>
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}

			{% block body %}

			{% endblock %}

		</div>
		<!--end #content-->
		<!-------------------------------------------Side Bar ----------------------------------------------------->

		<!-- BEGIN MENUBAR-->
		<div id="menubar">
			<div class="menubar-fixed-panel">
				<div>
					<a class="btn btn-icon-toggle btn-default menubar-toggle" id="sideBarButton" data-toggle="menubar"
						href="javascript:void(0);">
						<i class="fa fa-bars"></i>
					</a>

				</div>
				<!-- <div class="expanded">
					<a href="{% url 'tableView' %}">
						<span class="text-lg text-bold text-primary">MATERIAL&nbsp;ADMIN</span>
					</a>
				</div> -->
			</div>
			<div class="menubar-scroll-panel">

				<!-- BEGIN MAIN MENU -->
				<ul id="main-menu" class="gui-controls">

					<!-- BEGIN DASHBOARD -->
					<li>
						<a href="{% url 'tableView' %}" class="active">
							<div class="gui-icon"><i class="md md-home"></i></div>
							<span class="title">Dashboard</span>
						</a>
					</li>
					<!--end /menu-li -->
					<!-- END DASHBOARD -->

					<!-- BEGIN ORDER -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-shopping-cart"></i></div>
							<span class="title">Order</span>
						</a>
						<!--start submenu -->
						<ul>
							<li><a href="{% url 'allOrder'%}"><span class="title">All Orders</span></a></li>
							<!-- <li><a href="{% url 'tableView' %}" ><span class="title">Add Order</span></a></li> -->
						</ul>
						<!--end /submenu -->
					</li>
					<!--end /menu-li -->
					<!-- END ORDER -->

					<!-- BEGIN PRODUCT -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-cubes"></i></div>
							<span class="title">Dishes</span>
						</a>
						<!--start submenu -->
						<ul>
							<li><a href="{% url 'allDish'%}"><span class="title">All Dishes</span></a></li>
							<li><a href="{% url 'newDish' %}"><span class="title">Add Dishes</span></a></li>
						</ul>
						<!--end /submenu -->
					</li>
					<!--end /menu-li -->
					<!-- END PRODUCT -->

					<!-- BEGIN TABLE -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-cog fa-fw"></i></div>
							<span class="title">Tables</span>
						</a>
						<!--start submenu -->
						<ul>
							<!-- <li><a href="{% url 'tableView'%}" ><span class="title">Table Home</span></a></li> -->
							<li><a href="{% url 'tableLayout' %}"><span class="title">Set Layout</span></a></li>
						</ul>
						<!--end /submenu -->
					</li>
					<!--end /menu-li -->
					<!-- END PRODUCT -->

					<!-- BEGIN PROFILE -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-user"></i></div>
							<span class="title">Profile</span>
						</a>
						<!--start submenu -->
						<ul>
							<li><a href="{% url 'change_password' %}"><span class="title">Change Password</span></a>
							</li>
							<li><a href="{% url 'logout' %}"><span class="title">Logout</span></a></li>
						</ul>
						<!--end /submenu -->
					</li>
					<!--end /menu-li -->
					<!-- END PROFILE -->

				</ul>
				<!--end .main-menu -->
				<!-- END MAIN MENU -->

				<!-- <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; {% now "Y" %}</span> <strong>Restaurant Management</strong>
                </small>
            </div> -->
			</div>
			<!--end .menubar-scroll-panel-->

		</div>
		<!--end #menubar-->
		<!-- END MENUBAR -->


		<!----------------------------------------------------------------------------------------------------------------->
		<!-- END BASE -->
		<!-- BEGIN JAVASCRIPT -->

		<script src="{% static 'js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/core/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>

		<script src="{% static 'js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>

		<!-- DATATABLE -->
		<script src="{% static 'js/libs/DataTables/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
		<script src="{% static 'js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>

		<script src="{% static 'js/core/App.js' %}"></script>
		<script src="{% static 'js/core/AppNavigation.js' %}"></script>
		<script src="{% static 'js/core/AppOffcanvas.js' %}"></script>
		<script src="{% static 'js/core/AppCard.js' %}"></script>
		<script src="{% static 'js/core/AppForm.js' %}"></script>
		<script src="{% static 'js/core/AppVendor.js' %}"></script>
		<script src="{% static 'js/core/Demo.js' %}"></script>
		<script src="{% static 'js/core/DemoTableDynamic.js' %}"></script>
		<script src="{% static 'js/libs/select/bootstrap-select.js' %}"></script>
		<script src="{% static 'js/libs/select/bootstrap-select.min.js' %}"></script>
		<script src="{% static 'js/libs/select2/select2.min.js' %}"></script>

		<script src="{% static 'js/core/main.js' %}"></script>
		<script src="{% static 'js/core/popper.js' %}"></script>

		<script src="{% static 'js/core/orderDynamic.js' %}"></script>
		<script src="{% static 'js/core/table_layout.js' %}"></script>


		<!-- END JAVASCRIPT -->

</body>

</html>