<div class="container" id="app">
    <div class="add-product" :class="{'open': formOpen}">
        <div class="button-copy" v-show="!formOpen" @click="formOpen = true">Add Product</div>
        <form @submit="cancel()">

            <div class="form--field">
                <label>Product Title *</label>
                <input type="text" class="form--element" name="email" v-model="productData.title" placeholder="Title"
                    required="">
                    <input type="text" class="form--element" name="name" v-model="productData.title" placeholder="Title"
                    required="">
            
            <div class="form--field">
                <label>Message</label>
                <textarea class="form--element textarea" v-model="productData.description" placeholder="message">
        </textarea>
            </div>

            <button type="submit" class="submit-button">Add Product</button>
            <div class="cancel"><span @click="cancel()">Cancel</span></div>
        </form>
    </div>
</div>